CompileFlags: # Tweak the parse settings
  Add:
    [
      -xc++,
      -std=c++14,
      -Wall,
      -Wshadow,
      -Weffc++,
      -Wextra,
      -Wconversion,
      -Wsign-conversion,
      -Werror,
      -Wpedantic,
    ]
  Compiler: g++
